<h1>Listing clientes</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Telefone</th>
    <th>Endereco</th>
    <th>Site</th>
    <th></th>

  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.nome %></td>
    <td><%= cliente.email %></td>
    <td><%= cliente.telefone %></td>
    <td><%= cliente.endereco %></td>
    <td><%= cliente.site %></td>
    <td><%= link_to 'Show', cliente %></td>
  </tr>
<% end %>
</table>

<br />

