<h1>Listing contatos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contatos.each do |contato| %>
  <tr>
    <td><%= contato.nome %></td>
    <td><%= contato.email %></td>
    <td><%= link_to 'Show', admin_contato_path(contato) %></td>
    <td><%= link_to 'Edit', edit_admin_contato_path(contato) %></td>
    <td><%= link_to 'Destroy', admin_contato_path(contato), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contato', new_admin_contato_path %>
