<h1>Listing clientes</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Telefone</th>
    <th>Endereco</th>
    <th>Site</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.nome %></td>
    <td><%= cliente.email %></td>
    <td><%= cliente.telefone %></td>
    <td><%= cliente.endereco %></td>
    <td><%= cliente.site %></td>
    <td><%= link_to 'Show', admin_cliente_path(cliente) %></td>
    <td><%= link_to 'Edit', edit_admin_cliente_path(cliente) %></td>
    <td><%= link_to 'Destroy', admin_cliente_path(cliente), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cliente', new_admin_cliente_path %>
